html {
    background-color: darkblue;
}


header img {
    width: 40%;
}

header {
    font-family: 'Times New Roman', Times, serif;
    background-color: red;
    color: white;

    padding-left: 40%;
    padding-right: 40%;
    padding-top: 2.0em;
    padding-bottom: 0;

    text-align: center;
}

header h1 {
    font-size: 350%;
}

header h2 {
    font-size: 250%;
    
}

header h3 {
    font-size: 150%;
    
}


li { 
    list-style-type: none;
}


body { 
    background-color: darkblue;
    color: green; 
}

a { 
    color: yellow
}




footer { 
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: darkblue;
  color: white;
  text-align: center;
  }

  footer a{
    color: yellow;
  }













/*DEVELOPER: Brian Dilone, IS117-004, Spring 2025 */ 